*{
    margin: 0;
    padding: 0;
}

#banner{
    /* background-image:linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)) , url(assets/images/bg.jpg); */
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 6%;
    
}

.banner-text{
    text-align: center;
    color: white;
    padding-top: 180px;
}

.banner-text h1{
    text-align: center; 
    color: white;
    padding-top: 1px;
    font-size: 120px;
   
}

.banner-text p{
    text-align: center;
    color: white;
    padding-top: 1px;
    font-size: 20px;
    padding-left:50px;
    padding-right: 50px;
}

.banner-btn{
    margin: 70px auto 0;

}

.banner-btn a{
    width: 150px;
    text-decoration:none;
    display: inline-block;
    margin:0 10px;
    padding: 12px 0;
    color:white;
    border: .5px solid white;
    position:relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span{
    width:50%;
    height:100%;
    top:0;
    left:0;
    background: white;
    z-index: index -1;
    transition: 0.5s;
    position:absolute;
}

.banner-btn a:hover span{
     width:100%;
}

.banner-btn a:hover{
    color:black
}

form .in {
background: transparent;
border-radius: 50px;
width: 350px;
border: 2px white;
}

form button{
width: 150px;
background-color:transparent;
border: 1px white;
}

.url {
    position: relative;
    height: 140px;
    width: 340px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    color: #333;
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
  }
  
  .url:after {
    position: absolute;
    content: "";
    right: -10px;
    bottom: 18px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1a044e;
  }
  
  .url p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 28px;
    color: black;
  }
  
  .url input {
    position: relative;
    bottom: 30px;
    border: none;
    top: 0.5px;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 82%;
    background: transparent;
    transition: all .25s ease;
  }
  
  .url input:focus {
    outline: none;
    border-bottom: 1px solid #0d095e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  }
  
  .url .submit-btn {
    position: absolute;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 12px 25px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    right: -10px;
    bottom: -20px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
  }
  
  .url.submit-btn:hover {
    background-color: #07013d;
    box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
  }

 form{
    padding-left: 38%;
 }